<!-- Webpage für die Anmeldung -->
{% extends "base.html" %}
{% block app_content %}
    <h1>Willkommen auf Rate My Rig!</h1>
    <p>Hier kannst du Fotos von deinem PC-Build hochladen und von anderen Benutzern bewerten lassen!</p>
    <p>Melde dich an, um auf dein Profil zugreifen zu können.</p>
    <h2>Anmelden</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p> {{ form.submit() }}</p>
    </form>
    <p>Neu hier? <a href="{{ url_for('register') }}">Hier registrieren!</a></p>
{% endblock %}